.MMM-EnphaseSolar .data-net-output-importing {
	color: orange;
}

.MMM-EnphaseSolar .data-net-output-exporting {
	color: lightgreen;
}

.MMM-EnphaseSolar .data-battery-state-charging {
	color: lightgreen;
}

.MMM-EnphaseSolar .data-battery-state-discharging {
	color: orange;
}